<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header>
</header>
<body>
<main>
<h1>Deleted Yoga Pose</h1>

    <div>
        <h4>Pose deleted</h4>

        <h4><a href="/">Back to Poses</a></h4>
    </div>

</main>
</body>
</html>